$primary-color-light: #0057f8;
$primary-color-dark: #741FA7;

// section primary background color 
$primary-bg-color: #0B1026;

// primary color bright for gradiant
$primary-color-bright: #c72480;

$heading-primary-color: #FAF5F0;

// pricing table bg colors
$pricing-heading-bg-color: #090E22;

// cards and qouts boarder color
$primary-border-light: #2E55FF;

// font color
$paragraph-font-color: #444444;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark: #C5C5C5;
$color-grey-light: #F2F2F2;

// top primary heading colors
$hero-sub-heading:#FAF5F0;
$hero-main-heading: $color-white;

// font family declaire 
$primary-font: 'Poppins', sans-serif;;
$secondary-heading-font: "Now";
$elegant-font-family: "Elegant_font";
$arimo-font: "Arimo";
$primary-btn-light: #F0F3FF;

$default-font: 15px;
$heading-1: 90px;
$heading-2: 40px;
$heading-3: 17px;
$heading-4: 16px;
$heading-5: 14px;
$heading-24: 24px;
$heading-15: 15px;
$heading-20: 20px;
$muted-color: #888888;
$body-font-color: #111111;

//margin
$margin-bottom-lg:10.4rem;
$margin-top-lg:10.4rem;
