
// Color
$primary_color: #2E55FF;
$sub_color: #FF7A4F;
$p_color: #8A8AB0;
$heading_color: #2E2276;
$border_color: #E1E2EB;
$white_color:#ffffff;

$color_1: #A6BCD0;
$color_2: #F9AD52;
$color_3: #30CB76;
$color_4: #FFD200;
$color_5: #B4B7CC;

$bg_1 : #FFF4F2;
$bg_2 : #EDF4FA;
$bg_3 : #FFF4E8;
$bg_4 : #090E22;
